<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.hdm.gruppe3.stundenplanverwaltung.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/stundenplanverwaltung/greet</url-pattern>
  </servlet-mapping>
  
  <!-- StundenplanVerwaltung -->
    <servlet>
    <servlet-name>stundenplanVerwaltungServlet</servlet-name>
    <servlet-class>de.hdm.gruppe3.stundenplanverwaltung.server.StundenplanVerwaltungImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>stundenplanVerwaltungServlet</servlet-name>
    <url-pattern>/stundenplanverwaltung/stundenplanVerwaltung</url-pattern>
  </servlet-mapping>
  
  stundenplanVerwaltung
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>StundenplanVerwaltung.html</welcome-file>
  </welcome-file-list>

</web-app>
